SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_SERVICE_ROLE_KEY= your-service-role-key
ANTHROPIC_API_KEY= your-anthropic-api-key
GOOGLE_APPLICATION_CREDENTIALS=./src/config/fichier.json
GOOGLE_CLOUD_PROJECT_ID=nom-de-votre-projet